<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ISS Impact Calculator</title>
<script src="/jquery-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="/jsgrid-1.5.3/dist/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="/jsgrid-1.5.3/dist/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap-grid.min.css" />
<script type="text/javascript" src="/jsgrid-1.5.3/dist/jsgrid.min.js"></script>
	
</head>
<body >

    {{{body}}}

</body>
</html>
