<div class="container-lg" style="height: inherit;">
    <div class="card ">
        <div class="card-body">
            <h2 class="card-title">Interlink Software - Impact Calculator</h2>
            <div class="form-inline" id="content1">
                <button class="btn btn-primary" type="button" id="btnBatchEdit1">
                    Edit
                </button>&nbsp
                <button class="btn btn-primary" type="button" id="btnBatchSave1">
                    Save
                </button>&nbsp
                <button class="btn btn-primary" type="button" id="btnBatchCancel1">
                    Cancel
                </button>
				&nbspRoot Service: &nbsp<input class="form-control input-normal col-md-1" type="text" id="serviceinput"/>
            </div>
        </div>
    </div>
    <div id="jsGrid"></div>
</div>





<script>
$(function () {
	$('#serviceinput').bind("enterKey",function(e){
		var url = "?service=";
		url += $('#serviceinput').val();
		window.location = url;
	});   
	$('#serviceinput').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
	});
});

$(function() {

	$.urlParam = function (name) {
		var results = new RegExp('[\?&]' + name + '=([^&#]*)')
						  .exec(window.location.search);

		return (results !== null) ? results[1] || 0 : false;
	}
	
    var JSGRID_EDIT_ROW_DATA_KEY = "JSGridEditRow";
	var JSGRID_ROW_DATA_KEY = "JSGridItem";
	var editRowClass = "jsgrid-edit-row";
    var $grid = $("#jsGrid");

    $("#jsGrid").jsGrid({
        height: "calc(100% - 100px)",
        width: "100%",
        filtering: true,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 25,
        pageButtonCount: 5,
        editFields_forBatch: [],
	    _editingRows_forBatch: [],  
        controller: {
            loadData: function(filter) {
                criteria = filter;
                var d = $.Deferred();
                console.log(filter);
                if (filter.parent.length === 0 && filter.child.length === 0 && filter.impact == undefined){
					var service = $.urlParam('service');
					console.log('Service :', service);
					if ( service) {
						$.ajax({
							url: "/api/v1/cibyclass?service=" + service,
							dataType: "json"
						}).done(function(response) {
								d.resolve(response);
						});
					} else {
						$.ajax({
							url: "/api/v1/cibyclass",
							dataType: "json"
						}).done(function(response) {
								d.resolve(response);
						});
                    }
                } else {
                    $.ajax({
                        url: "/api/v1/cibyclass",
                        dataType: "json"
                    }).done(function(response) {
                        var res = [];
						console.log('res :: ', response.length);
						
                        if (criteria.parent !== "") {
                            $.each(response, function (index, element) {
                                if (element.parent.indexOf(criteria.parent) > -1) {
                                    res.push(element);
                                    response = res;
                                }
                            }, this);
                        } else if (criteria.child !== "") {
                            $.each(response, function (index, element) {
                                if (element.child.indexOf(criteria.child) > -1) {
                                    res.push(element);
                                    response = res;
                                }
                            }, this);
                        } else if (criteria.impact !== "") {
                            $.each(response, function (index, element) {
                                if (element.impact.indexOf(criteria.impact) > -1) {
                                    res.push(element);
                                    response = res;
                                }
                            }, this);
                        } else if (criteria.group_name !== "") {
                            $.each(response, function (index, element) {
                                if (element.group_name.indexOf(criteria.group_name) > -1) {
                                    res.push(element);
                                    response = res;
                                }
                            }, this);
                        } else {
                            res = response;
                        }
                        d.resolve(res);
                    });
                }
                return d.promise();
            },
            updateItem: function(item) {
                var d = $.Deferred();
                console.log("ITEM ", item);
                $.ajax({
                    url: "/api/v1/cibyclass/update",
                    dataType: "json",
                    data: item,
                    method: "POST"
                }).done(function(response) {
                    $.ajax({
                        url: "/api/v1/cibyclass?urid=" + item.urid,
                        dataType: "json",
                        method: "GET"
                    }).done(function(response2) {
                        d.resolve(response2.result);
                    })
                });
                return d.promise();
            },
        },
        fields: [
            {
                title: "Group Impact",
                itemTemplate: function(_, item) {
                    return $("<input>").attr("type", "checkbox")
                            .prop("checked", $.inArray(item, selectedItems) > -1)
                            .on("change", function () {
                                $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                            });
                },
                align: "center",
                width: 50
            },
            { name: "urid", title: "URID", type: "number", width: 15, editing: false, selecting: false },
			{ name: "group_name", title: "Group", type: "text", width: 50,editing: false },
            { name: "parent", title: "Parent", type: "text", editing: false },
            { name: "child", title: "Child", type: "text", width: 100, editing: false },
            { name: "impact", title: "Impact", type: "number", width: 50, editing: false },
        
        ],
        _eachField_forBatch: function (myfields, callBack) {
            var self = this;
            $.each(myfields, function (index, field) {
                if (field.visible) {
                    callBack.call(self, field, index);
                }
            });
        },
		editItems_forBatch: function (items) {
			this.editFields_forBatch = [];
			this._editingRows_forBatch = [];
			for(var i = 0; i < items.length; i++)
			{
				var $row = this.rowByItem(items[i]);
				if ($row.length) {
					this._editRows_forBatch($row, items[i]);
				}
			}
        },
        _editRows_forBatch: function ($row) {
			if (!this.editing)
				return;

			var item = $row.data(JSGRID_ROW_DATA_KEY);

			var args = this._callEventHandler(this.onItemEditing, {
				row: $row,
				item: item,
				itemIndex: this._itemIndex(item)
			});

			if (args.cancel)
				return;

			if (this._editingRow) {
			   this.cancelEdit();
			}

			var $editRow = this._createEditRow(item);

			var row_num = this.editFields_forBatch.length;
			var rowFields = [];
			for(var fc = 0; fc < this.fields.length; fc++) { 
				var thisField = Object.create(this.fields[fc]);
				thisField.mypara = row_num;
				if(this.fields[fc].editControl) thisField.editControl = Object.create(this.fields[fc].editControl);
				rowFields.push(thisField);
			}
			this.editFields_forBatch.push(rowFields);

			this._editingRows_forBatch.push($row);
			$row.hide();
			$editRow.insertBefore($row);
			$row.data(JSGRID_EDIT_ROW_DATA_KEY, $editRow);
        },
        updateItems_forBatch: function (item) {
			var editingRows = []; 
			var editedItems = [];
			for(var i = 0; i < this._editingRows_forBatch.length; i++)
			{
				var currentEditingRow = this._editingRows_forBatch[i];
				var currentEditingRowFields = this.editFields_forBatch[i];
				var editedItem ;
				
				var item = this._getEditedItem_forBatch(currentEditingRowFields);
				// editedItem = this._validateItem(item, this._getEditRow()) ? item : null;
				editedItem = this._validateItem(item, currentEditingRow) ? item : null;

				if (!editedItem)
					return false;
				editingRows.push(currentEditingRow);
				editedItems.push(editedItem);
			}
			for(var i = 0; i < editedItems.length; i++)
			{
				this._updateRow(editingRows[i], editedItems[i]);
			}

			this.editFields_forBatch = [];
			this._editingRows_forBatch = [];
			return;
        },
        _finishUpdate: function ($updatingRow, updatedItem, updatedItemIndex) {
            if(this._editingRow) this.cancelEdit();
			else this.cancelEdit_forBatch_row($updatingRow);
            this.data[updatedItemIndex] = updatedItem;

            var $updatedRow = this._createRow(updatedItem, updatedItemIndex);
            $updatingRow.replaceWith($updatedRow);
            return $updatedRow;
        },
		_getEditedItem_forBatch: function (myfields) {
            var result = {};
            this._eachField_forBatch(myfields, function (field) {
                if (field.editing) {
					this._setItemFieldValue(result, field, field.editValue());
                }
            });
            return result;
        },
		cancelEdit_forBatch_row: function (updatedRow) {
            if (!updatedRow)
                return;
			updatedRow.prev("tr." + this.editRowClass).remove();
			updatedRow.show();
        },
		cancelEdit_forBatch: function (rowItems) {
			for(var i = 0; i < rowItems.length; i++)
			{
				var $row = this.rowByItem(rowItems[i]);
				if ($row.length) {
					this.cancelEdit_forBatch_row($row);
				}
			}
        },
        editItem: function(item) {
            var $row = this.rowByItem(item);
            if ($row.length) {
                this._editRow($row);
                $('input[type=checkbox]').prop('disabled',true).prop('checked', false);
            }
        }
    });

});

//scripts added by Sachin
	//$('#btnBatchSave1').prop('disabled', true);
	$('#btnBatchSave1').prop('disabled', true);
	$('#btnBatchCancel1').prop('disabled', true);

	$('#btnBatchEdit1').on('click', function() {
        $("#jsGrid").jsGrid("option", "filtering", false);
	
		$('#btnBatchEdit1').prop('disabled', true);
		var rows = $("#jsGrid").jsGrid("option", "data");
		$("#jsGrid").jsGrid("editItems_forBatch", rows);
		$('#btnBatchSave1').prop('disabled', false);
		$('#btnBatchCancel1').prop('disabled', false);
        $('input[type=checkbox]').prop('disabled',false);
         
	});

	$("#btnBatchSave1").on('click', function() { 		
		if($("#jsGrid").jsGrid("updateItems_forBatch")){
	
			$('#btnBatchSave1').prop('disabled', true);
			$('#btnBatchCancel1').prop('disabled', true);
			$('#btnBatchEdit1').prop('disabled', false);
            batchCalculate();
            selectedItems = [];
            $('input[type=checkbox]').prop('disabled',true).prop('checked', false);
            $("#jsGrid").jsGrid("option", "filtering", true); 
		}
	});
	$('#btnBatchCancel1').on('click', function() {	
		var rows = $("#jsGrid").jsGrid("option", "data");
		$("#jsGrid").jsGrid("cancelEdit_forBatch", rows);

		$('#btnBatchSave1').prop('disabled', true);
		$('#btnBatchCancel1').prop('disabled', true);
		$('#btnBatchEdit1').prop('disabled', false);
        $('input[type=checkbox]').prop('disabled',true).prop('checked', false);
        $("#jsGrid").jsGrid("option", "filtering", true);
	});

    var selectedItems = [];
 
    var selectItem = function(item) {
        selectedItems.push(item);
    };
 
    var unselectItem = function(item) {
        selectedItems = $.grep(selectedItems, function(i) {
            return i !== item;
        });
    };

    function batchCalculate() {
        console.log("batch :: ", selectedItems);
        var length = selectedItems.length;
        
        //var impact = 100 / length;
        if (length > 0) {
            //if (impact != "Infinity") {
                var uniqueEle = [];
                selectedItems.forEach(function(element) {
                    //element.impact = impact.toFixed(3);
                    setTimeout(function () {
                        if($.inArray(element.parent, uniqueEle) === -1) {
                           
                            uniqueEle.push(element.parent);
                            $("#jsGrid").jsGrid("updateItem", element);
                            $.ajax({
                                url: "/api/v1/GroupImpact",
                                dataType: "json",
                                data: {"parent": element.parent},
                                method: "POST"
                            }).done(function(response) {
                                console.log(response);
                            });
                        }
                    },1000)
                        
                            
                
                console.log('UN ', uniqueEle);
            })  
        }
        
    }
    $(document).ready(function () {
        setTimeout(function () {
            $('input[type=checkbox]').prop('disabled',true).prop('checked', false);
        },300)  
    })
</script>


<style>
    html, 
body {
    height: 100%;
}
</style>
